<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                <a href="https://zhangyao999.github.io/%E5%BC%A0%E7%91%B6Resume.html">Resume&nbsp;</a>
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                <a href="https://zhangyao999.github.io/An%20Intro%20to%20Git%20and%20GitHub%20for%20Beginners%20(Tutorial).html">Traslation&nbsp;project</a> 
            </p>
        </div>
    </div>
</section>